@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
    {
        @Html.AntiForgeryToken()

        @Html.ActionLink("Hesabım", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-sm btn-outline-secondary mr-1" })

        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-sm btn-outline-secondary">
            Çıkış yap
        </a>

        if (User.IsInRole("Admin"))
        {
            <a class="btn btn-sm btn-success ml-1" href="@Url.Action("Index", "Dashboard", new { area = "Admin" })">
                Yönet
            </a>
        }
    }
}
else
{
    <a class="btn btn-sm btn-outline-secondary ml-1" href="@Url.Action("Login", "Account")">
        Giriş
    </a>
    <a class="btn btn-sm btn-outline-secondary ml-1" href="@Url.Action("Register", "Account")">
        Kayıt Ol
    </a>
}
