@model List<Post>
@{
    ViewBag.Title = "Yazılar";
    ViewBag.HeaderTitle = "Yazılar";
}


<div class="card">
    <div class="card-header">
        <a href="@Url.Action("New", "Posts")" class="btn btn-sm btn-primary">
            <i class="fas fa-plus"></i>
            Yeni Yazı
        </a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Başlık</th>
                    <th>Kategori</th>
                    <th>Yazar</th>
                    <th>Zaman</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr data-post-id="@item.Id">
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td>@item.Category.CategoryName</td>
                        <td>@item.Author.UserName</td>
                        <td>@item.CreationTime</td>
                        <td>
                            <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-post-title="@item.Title" data-post-id="@item.Id">
                                Sil
                            </a>
                            <a href="@Url.Action("Edit","Posts", new { id = item.Id })" class="btn btn-info">
                                Düzenle
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Başlık</th>
                    <th>Kategori</th>
                    <th>Yazar</th>
                    <th>Zaman</th>
                    <th>İşlemler</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Silme Onayı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="modalPostId" />
                "<span id="modalPostTitle">Falanca</span>" başlıklı yazıyı silmek istediğinize emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-primary" id="modalButtonDelete">Sil</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            var table = $("#example1").DataTable({
                order: [[4, "desc"]],
                language: {
                    url: "@Url.Content("~/Areas/Admin/plugins/datatables/Turkish.json")"
                }
            });

            // sil modalı gözükürken tetiklenen event:
            $("#exampleModal").on("show.bs.modal", function (event) {
                var btnSil = $(event.relatedTarget);
                var modal = $(this);

                $("#modalPostId").val(btnSil.data("post-id"));
                $("#modalPostTitle").text(btnSil.data("post-title"));
            });

            $("#modalButtonDelete").click(function () {
                var id = $("#modalPostId").val();

                $.ajax({
                    url: "@Url.Action("Delete", "Posts")",
                    type: "POST",
                    data: { id: id },
                    success: function (result) {
                        var tr = $("tr[data-post-id=" + id + "]");
                        table.row(tr).remove().draw(false);
                        $("#exampleModal").modal("hide");
                    }
                });
            });
        });
    </script>
}
